<p>
  The goal of this workshop is to  provide an introduction to core geospatial data concepts and dive into working with raster/vector data, 
  including how to open, work with, and plot vector and raster-format spatial data in R. Additional topics include working with spatial metadata 
  (extent and coordinate reference systems), reprojecting spatial data, and working with raster time series data. This lesson assumes you have some 
  knowledge of R. If you’ve never used R before, or need a refresher, start with our <a href="http://www.datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data lesson webpage</a>. 
  You can follow along with this prerequisite lesson via this <a href="https://www.youtube.com/watch?v=Dm6rKGtGaS8">recorded video series</a>.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
